body {
    color: black;
    background-color: #d8da3d }
h1 {
    text-align: center;
}
img {
    text-align: center;
}

#Personalinformation {
    text-align: center;
}
Section {
    background-color: cornsilk;
}
Section:hover {
    background-color: burlywood;
}
